<h1>Task1!</h1>


<!-- <h1>Task1!</h1>
<h2>This is a**{{title}}**for practice</h2>
<br>
<button (click)="btnClick()" [disabled]="isDisabled">Click Me</button>
<br>
<br>
<input type=""text [(ngModel)]="dynamicTxt" Width="50">
<br>
<h2>Task1 created ** {{dynamicTxt}} **</h2>
<br>
<label for="uname"><b>Username</b></label>
       <input type="text" placeholder="Enter Username" name="uname" required>
<br>
<br>
   <label for="psw"><b>Password</b></label>
   <input type="text" placeholder="Enter Password" name="psw" required>
   <br>
   <br> -->
<button (click)="LClicked()">Login</button>
<br>
<br>
<button (click)="DClicked">Dashboard</button>
<br>
<router-outlet></router-outlet>

